# ---- Node / Vercel Frontend ----
frontend/.next/
frontend/node_modules/
frontend/.env*
frontend/.DS_Store
frontend/.vercel

# Python
*.py[cod]
*.so
__pycache__/
*.pyd
*.pyo
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/


# ---- Global ----
.env
.env.*
*.pyc
*.log
*.sqlite3
__pycache__/
*.swp
*.bak
*.tmp
frontend/.env
frontend/.env/local
frontend/.env.production
backend/.env
backend/.env/local
backend/.env.production


# ---- Supabase / SQL / Deployment ----
supabase/.temp/
supabase/migrations/*
supabase/.env
supabase.sql

# ---- System / Editor ----
.vscode/
.idea/
*.code-workspace

# ---- OS-specific ----
.DS_Store
Thumbs.db
