@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
}

button {
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: $border-radius;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
